/* section title */

.section-title{
	color:#2a2a2a
}
.title:after{
	background:#8c6500
}
.sub-title{
	color:#5a5a5a
}

/* btn color */

.btn-default{
	color:#fff;
	background:#8c6500;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease
}
.btn-submit, .form_button input[type="submit"]{
	color:#fff;
	background:#8c6500;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease
}
.btn-default:hover{
	background:#fff;
	color:#8c6500
}
.btn-submit:hover, .form_button input[type="submit"]:hover{
	background:#fff;
	color:#8c6500
}
.form_button input[type="submit"]:hover{
	background:#fff;
	color:#8c6500 !important
}
.btn-primary.focus, .btn-primary:focus {
	color: #fff;
	background-color: #8c6500;
	border-color: #8c6500
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #8c6500;
	border-color: #8c6500
}
.btn-primary{
	color:#8c6500;
	border: 2px solid #8c6500;
	background:#fff;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease
}
.btn-primary:hover{
	color:#fff;
	border: 2px solid #8c6500;
	background:#8c6500
}
.btn-secondary{
	color:#2a2a2a;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease
}

.arrow_btn{
	color:#fff;
	border:1px solid #fff
}
.arrow_btn:hover{
	border:1px solid #FFFFFF;
	background:#FFF;
	color:#8c6500
}

/* white */

.white{
	color:#fff
}
.carousel-inner .item .slider-title h1{
	color:#FFF
}

/* black */

.black{
	color:#fff;
	background:#201f1f
}
.black:hover{
	color:#fff
}

/* header color */

.nav li a{
	color:#2a2a2a;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease
}
.navbar-nav li a:hover{
	color:#8c6500
}
.nav-tabs>li>a:hover {
	background-color: #8c6500;
	color:#FFF
}

/* slider color */

.slider-title{
	color:#f4eded
}
.slider-title span{
	color:#8c6500
}
.slider-sub-title{
	color:#fff
}

/* about section color */

.social_icon li{
	background:#ffffff
}
.social_icon li a{
	color:#2f2e2e
}
.social_icon li:hover{
	background:#8c6500
}
.social_icon li:hover a{
	color:#ffffff
}

/* tab color */

.self-title{
	color:#fff
}
.my_self{
	background:#2f2e2e
}
.self-tab-active{
	color:#8c6500
}
.nav-tabs > li > a{
	background:#fff
}
.plane_tab{
	color:#2f2e2e
}
.nav-tabs>li:hover .plane_tab{
	color:#fff
}
.nav-tabs>li.active>a .plane_tab{
	color:#fff
}

/* skill section */

#skill{
	background:#eeeeee
}
.skill_percent{
	background:#8c6500
}
.skill_per > h6{
	color:#2a2a2a
}
.skill_per > h5{
	color:#2a2a2a
}
.skill_para p{
	color:#5a5a5a
}

/* service section */

.srv-box i{
	color:#2a2a2a;
}
.srv-box{
	background:#fff
}
.srv-box:hover{
	background:#8c6500;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease
}
.srv-box:hover p, .srv-box:hover .srv-title, .srv-box:hover i {
	color:#fff;
	transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease
}
.srv-title{
	color:#2a2a2a
}
.srv-box p{
	color:#5a5a5a
}

/* portfolio section */

.default-portfolio-item .overlay-box{
	background:#8c6500
}
.default-portfolio-item .overlay-box h5{
	color:#fff
}
.default-portfolio-item .overlay-box h5 a{
	color:#fff
}
.default-portfolio-item .overlay-box .arrow{
	color:#fff
}
.gallery-section .filter-btns li{
	color:#2a2a2a
}
.gallery-section .filter-btns li:hover,
.gallery-section .filter-btns li.active{
	color:#fff;
	background:#8c6500	
}
.inner-content .content h6{
	color:#fff
}

/* team section */

.member{
	background:rgba(0, 0, 0, .6);
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease
}
.member:hover{
	background:#fff
}
.member:hover h3, .member:hover p{
	color:#2a2a2a
}
.member:hover .social_icon li a{
	color:#fff
}
.member:hover .social_icon li{
	background:#2a2a2a
}
.member h3{
	color:#fff
}
.member h6{
	color:#8c6500
}
.member:hover .social_icon li:hover{
	background:#8c6500
}
.member:hover .social_icon li a:hover{
	color:#fff
}

/* testimonial  color */

#testimonial p{
	color:#2a2a2a
}
.ellipse{
	background:#8c6500
}
.quote{
	color:#fff
}
.line_tool{
	background:#9b9b9b
}
.testimonial_area h5{
	color:#2a2a2a
}
.star i{
	color:#ffc000
}
.test_arrow{
	background:#2a2a2a
}
.test_arrow:hover{
	background:#8c6500
}
.test_arrow i{
	color:#fff
}

/* blog section */

.blog_grid{
	background:#fff
}
.blog_grid h4{
	color:#2a2a2a
}
.blog_grid h6{
	color:#aaa
}
.blog_grid p{
	color:#5a5a5a;
}
.blog_line{
	background:#cfcfcf
}
.blog_grid:hover h4, .blog_grid:hover .btn-secondary{
	color:#8c6500
}
.overlay h1{
	color:#8c6500
}
.comment{
	color:#8c6500
}
.read{
	color:#2a2a2a
}

/* princing color */

.plan{
	border:1px solid #eee;
	box-shadow:0 1px 1px rgba(0,0,0,0.08)
}
.plan_head{
	background:#eee
}
.plan h3, .plan h5{
	color:#201f1f
}
.plan_ul li{
	color:#201f1f
}
.plan:hover .plan_head, .plan:hover .black{
	background:#8c6500
}
.plan:hover h3, .plan:hover h5{
	color:#fff
}

/* experience color */

#experience{
	background:#8c6500
}
.experience_area h1, .experience_area h5{
	color:#FFF;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease
}
.experience_area:hover h1, .experience_area:hover h5{
	color:#8c6500
}
.experience_area:hover{
	background:#fff
}


/* brand color */

.brand_area ul li a{
	background:#c9c9c9
}
.brand_area ul li a:hover{
	background:#8c6500
}

/* contact color */

#contact{
	background-color:#333
}
#contact .contact_area .contact-form input{
	border-bottom:1px solid #5a5a5a;
	color:#fff
}
#contact .contact_area .contact-form textarea{
	border-bottom:1px solid #5a5a5a;
	color:#fff
}
label.error {
  color: #ff4b4e;
  font-weight: normal;
  left: 0;
  padding-left: 15px;
  position: absolute;
  bottom: -40px;
  width: 100%
}

/*adress color */

.adress i{
	color:#000;
	background:#fff
}
.adress:hover i{
	color:#fff;
	background:#8c6500
}
.adress span{
	color:#fff
}

/* coppy right color */

#coppyright{
	background:#000;
	border-top:1px solid #ccc
}
.coppyright_area span{
	color:#fff
}

/*banar color */

.banar-sub-title{
	color:#fff
}

/* blog list */

.overlay{
	background: rgba(0, 0, 0, 0.3)
}
.post-date, .loder-overlay{
	background:#8c6500
}
.section-title:after{
	background:#8c6500
}
.date h6, .date h3, .year h5{
	color:#fff
}
.post-year{
	background:#2a2a2a;
	color:#FFF
}
.post-text h5 a{
	color:#2a2a2a
}
.blog-list:hover .post-text h5 a, .blog-list:hover a.btn-secondary{
	color:#8c6500;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease
}
.post-text p{
	color: #5a5a5a
}

/* pagination color */

.pagenation ul li{
	border: 1px solid #8c6500;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease
}
.pagenation ul li a{
	color:#8c6500;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease
}
.pagenation ul li:hover, .pagenation ul li.active{
	background:#8c6500;
	border:1px solid #8c6500;
	color:#fff
}
.pagenation ul li:hover a, .pagenation ul li.active a{
	color:#fff
}

/* right side bar color */

.search2{
	border:1px solid #dbdbdb
}
.widget .title{
	color:#333333
}
.widget .title:before{
	background-color: #e9e9e9
}
.recent-post ul li a, .recent-comments li a, .recent-comments li a{
	color:#2a2a2a;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease
}
.recent-post ul li a:hover, .category ul li a:hover, .archive ul li a:hover, .recent-comments li a:hover, .recent-comments li a:hover{
	color:#8c6500
}
.recent-post span{
	color:#aaa
}

/* blog list color end */

/* blog details color */

blockquote{
	background:#eee;
	border-left:3px solid #8c6500
}
.member-social ul li{
	background:#2a2a2a
}
.member-social ul li:hover{
	background:#8c6500
}
.member-social ul li a{
	color:#fff
}
.tags{
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb
}
.tag-value ul li a{
	border-right:1px solid #aaa;
	color:#aaa
}
.all-coment h3{
	color:#333
}
.coment-content h5{
	color:#222
}
.coments_time{
	color:#aaa
}
.coments_time a{
	color:#8c6500
}
.coment{
	border-top:1px solid #ccc
}
.coment p{
	color:#5a5a5a
}
.post-text .admin span i{
	color:#8c6500;
	margin-right:5px
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color:#FFF
}
.coment-form input.coment-field, .coment-form textarea{
	border:1px solid #dbdbdb
}
.recent-post span, .recent-comments ul li span{
	color:#aaa
}
/* all color css end*/
